// white
$color-white: #fff;
// eerie black
$color-black: #1c1c1c;
// android green
$color-primary: #9bc500;
// tufts blue
$color-secondary: #2892d7;
// cinnabar
$color-tertiary: #e94f37;

$default-font-size: 1.4rem;
