html,
body,
#root {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-size: $default-font-size;
	font-family: 'Open Sans', sans-serif;
	background-color: $color-black;
}

.App {
	text-align: center;
}
h1,
h2,
h3 {
	font-family: 'VT323', monospace;
}

* {
	text-decoration: none;
	color: inherit;
}
