.game-board-container {
	width: 1000px;
	height: 1000px;
	text-align: center;
	overflow: hidden;
	margin: 10rem auto 5rem;
	.game-board {
		border: 1px solid black;
		border-width: 0 1px 1px 0;
		display: inline-block;
		position: relative;

		.board-row {
			line-height: 0;
			white-space: nowrap;
		}
	}
}
