.player {
	width: 42px;
	height: 42px;
	background-size: cover;

	position: absolute;
}

.player-0 {
	background-image: url('../images/PlayerBack.png');
}

.player-1 {
	background-image: url('../images/PlayerSide1.png');
}

.player-2 {
	background-image: url('../images/PlayerFront.png');
}

.player-3 {
	background-image: url('../images/PlayerSide1.png');
}
