.tile {
	box-sizing: border-box;
	width: 3em;
	height: 3em;
	display: inline-block;
	background-size: cover;

	&.wall {
		&.bottom-left {
			background-image: url('../images/roof-bottom-left.png');
		}
		&.bottom-right {
			background-image: url('../images/roof-bottom-right.png');
		}
		&.top-left {
			background-image: url('../images/roof-top-left.png');
		}
		&.top-right {
			background-image: url('../images/roof-top-right.png');
		}
		&.left-middle {
			background-image: url('../images/roof-bottom-middle.png');
			transform: rotate(90deg);
		}
		&.right-middle {
			background-image: url('../images/roof-bottom-middle.png');
			transform: rotate(-90deg);
		}
		&.bottom-middle {
			background-image: url('../images/roof-bottom-middle.png');
		}

		&.top-middle {
			background-image: url('../images/roof-top-middle.png');
		}
	}
	&.floor {
		background-image: url('../images/RobotZombieFloor.png');
	}

	&.roof {
		&.top-left {
			background-image: url('../images/roof-top-left.png');
		}

		&.top-right {
			background-image: url('../images/roof-top-right.png');
		}
		&.bottom-left {
			background-image: url('../images/roof-bottom-left.png');
		}
		&.bottom-right {
			background-image: url('../images/roof-bottom-right.png');
		}
		&.bottom-middle {
			background-image: url('../images/roof-bottom-middle.png');
		}

		&.top-middle {
			background-image: url('../images/roof-top-middle.png');
		}
		&.middle {
			background-image: url('../images/roof-middle.png');
		}
		&.left-middle {
			background-image: url('../images/roof-bottom-middle.png');
			transform: rotate(90deg);
		}
		&.right-middle {
			background-image: url('../images/roof-bottom-middle.png');
			transform: rotate(-90deg);
		}
	}

	&.grass {
		background-image: url('../images/RobotZombieGrass.png');
	}
	&.grass-flower {
		background-image: url('../images/RobotZombieGrassFlower.png');
	}
	&.door {
		background-image: url('../images/RobotZombieDoor.png');
	}
}
