.tile {
	box-sizing: border-box;
	width: 3em;
	height: 3em;
	// border: 1px solid black;
	// border-width: 1px 0 0 1px;
	display: inline-block;
	background-size: cover;
	// default image: grass
	background-image: url('../images/RobotZombieGrass_Dark.png');

	&.wall {
		// background-image: url('../images/RobotZombieWall.png');

		&.straight {
			background-image: url('../images/RobotZombieWallStraight.png') !important;

			&.horizontal {
				transform: rotate(90deg);
			}
		}
		&.corner {
			background-image: url('../images/RobotZombieWallCorner.png') !important;

			&.bottom-left {
				transform: rotate(90deg);
			}
			&.top-right {
				transform: rotate(-90deg);
			}
			&.top-left {
				transform: rotate(180deg);
			}
		}
	}
	&.floor {
		background-image: url('../images/RobotZombieFloor.png') !important;
	}
}
