.tile {
	box-sizing: border-box;
	width: 3em;
	height: 3em;
	display: inline-block;
	background-size: cover;

	&.wall {
		&.straight {
			background-image: url('../images/RobotZombieWallStraight.png') !important;

			&.horizontal {
				transform: rotate(90deg);
			}
		}
		&.corner {
			background-image: url('../images/RobotZombieWallCorner.png') !important;

			&.bottom-left {
				transform: rotate(90deg);
			}
			&.top-right {
				transform: rotate(-90deg);
			}
			&.top-left {
				transform: rotate(180deg);
			}
		}
	}
	&.floor {
		background-image: url('../images/RobotZombieFloor.png');
	}

	&.grass {
		background-image: url('../images/RobotZombieGrass_Dark.png');
	}
	&.grass-flower {
		background-image: url('../images/RobotZombieGrass_DarkFlower.png');
	}
	&.door {
		background-image: url('../images/RobotZombieDoor.png');
	}
}
